<!DOCTYPE html>
<html>
  
  
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>WEBSITE</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="file:///C:/Users/DELL/Desktop/project1/python_env/style/style.css">
      </head>
      <body style="background-color: #edffea;">

        <h1>{%block body%}{%endblock%}</h1>
       
        
      
  
</body>
</html>